export(constructor)
export(constructor2)
export(distaz.ws)
export(iris.query)
export(params2queryparams)
export(query.iris)
export(timeseries.ws)
export(ttDeg.ws)
export(ttKm.ws)
export(ttStaSrc.ws)
export(ws.distaz)
export(ws.timeseries)
export(ws.ttDeg)
export(ws.ttDistances)
export(ws.ttKm)
export(ws.ttStaSrc)
import(XML2R)
